/* Sidebar.css */

.sidebar {
    width: 18%;
    height: 72%;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 17.5%;
}

.card {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Roboto";
}

.card p {
    font-size: 14px;
    color: #333;
    font-family: "Gupter";
    font-weight: 800;
}

.link{
    text-decoration: none;
    color: #000;
}