.home-con{
    display: flex;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.sidebar-closed{
    width: 7vw;
    height: 100vh;
    position: relative;
}
.sidebar-opened{
    width: 20vw;
    height: 100vh;
    position: relative;
}
.body-container-without-full-sidebar{
    width: 68vw;
    height: 97vh;
    position: relative;
    background-color: #000000;
    padding: "20px";
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}
.body-container-with-full-sidebar{
    width: 55vw;
    height: 97vh;
    position: relative;
    background-color: #000000;
    padding: "20px";
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}